*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    margin-bottom: 20px;
}

.card-img-top{
    aspect-ratio: 1/1.5;
    width: auto;
    object-fit: cover;
}

.card-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.booksAdded-img{
    width: 80px;
    height: 120px;
}